antiorm==1.2.1
app==0.0.1
click==6.7
db==0.1.1
db.py==0.5.3
Flask==0.12.2
flask-heroku==0.1.9
Flask-SQLAlchemy==2.3.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.0
pandas==0.22.0
prettytable==0.7.2
psycopg2==2.7.3.2
pybars3==0.9.3
PyMeta3==0.5.1
python-dateutil==2.6.1
pytz==2017.3
six==1.11.0
SQLAlchemy==1.2.1
virtualenv==15.1.0
Werkzeug==0.14.1
